<div data-ng-controller="paperCtrl">
  <div class="background">
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="background-image.jpg" class="bckimg"></img>
    <img src="hyperink.png" style="width: 300px;
                                   position: absolute;
                                   z-index: 20;
                                   left: 0px;
                                   top: 0px;
                                   margin-top: 20px;
                                   margin-left: 20px;"></img>
  </div>
  <div>
    <div id="paper" class="paper" 
         data-ng-mousedown="mouseDown($event)"
         data-ng-mousemove="mouseMove($event)"
         data-ng-mouseup="mouseUp($event)"
         title="Click to add annotation.">
      <svg id="hyperspace">
        <path data-ng-repeat="cmt in comments"
              style="background-color: purple;
                     fill: purple;
                     opacity: .3;"
              d="{{cmt.d}}" data-ng-class="{done: cmt.done}"
              data-ng-mouseover="showComment(cmt)"></path>
      </svg>
    </div>
    <div data-ng-style="cmtStyle(tempComment.x, tempComment.y)"
         class="cmtDialog"
         data-ng-show="makingComment">
      <div class="cmtDialogTitle">Annotation</div>
      <div class="hLine"></div>
      <textarea class="cmtDialogBody" 
                data-ng-model="commentText"
                placeholder="Write your annotation here..."></textarea>
      <div class="hLine"></div>
      <button class="cmtDialogButton btn"
              style="margin-bottom: 4px; margin-right: 4px;"
              data-ng-hide="hideCommentButton()"
              data-ng-click="submitComment();">Submit</button>
      <button class="cmtDialogButton btn"
              style="margin-bottom: 4px; margin-right: 4px;"
              data-ng-click="removeComment()">Cancel</button>
    </div>
    <div class="cmt"
         data-ng-style="cmtStyle(mousedCmt.x, mousedCmt.y)"
         data-ng-mouseleave="showMousedCmt = null"
         data-ng-show="showMousedCmt">
      <div>
        <button class="close" data-ng-click="removeComment()">
          <span aria-hidden-"true" title="Remove this annotation.">x</span>
        </button>
      </div>
      <div>
        {{mousedCmt.text}}
      </div>
    </div>
  </div>
</div>
