<div data-ng-controller="paperCtrl">
  <div class="background">
    <div class="logo">
      hyperink
    </div>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
  </div>
  <div>
    <div id="paper" class="paper" data-ng-click="createComment($event)">
      <svg id="hyperspace"></svg>
    </div>
    <svg>
      <div data-ng-repeat="cmt in comments">
        <path data-ng-attr-d="cmt.d" 
              data-ng-mouseover="showComment(cmt)">
        </path>
        <div class="comment">
        </div>
      </div>
    </svg>
    <div data-ng-style="cmtStyle(tempComment)"
         class="cmtDialog"
         data-ng-show="makingComment">
      <div class="cmtDialogTitle">Write Comment</div>
      <div class="hLine"></div>
      <textarea class="cmtDialogBody" 
                data-ng-model="commentText"
                placeholder="Write your comment here..."></textarea>
      <div class="hLine"></div>
      <button class="cmtDialogButton btn"
              style="margin-bottom: 4px; margin-right: 4px;"
              data-ng-hide="hideCommentButton()"
              data-ng-click="submitComment();">Comment</button>
      <button class="cmtDialogButton btn"
              style="margin-bottom: 4px; margin-right: 4px;"
              data-ng-click="closeCommentDialog()">Cancel</button>
    </div>
    <div class="cmt"
         data-ng-style="cmtStyle(mousedCmt)"
         data-ng-mouseleave="hideComment()"
         data-ng-show="showMousedCmt">
      <div>
        <button class="close" data-ng-click="removeComment()">
          <span aria-hidden-"true">x</span>
        </button>
      </div>
      <div>
        {{mousedCmt.text}}
      </div>
    </div>
  </div>
</div>
