<div data-ng-controller="paperCtrl">
  <div class="background">
    <div class="logo">
      hyperink
    </div>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
    <img src="background-image.png" class="bckimg"></img>
  </div>
  <div>
    <div id="paper" class="paper" data-ng-click="createComment($event)">
    </div>
    <div data-ng-repeat="cmt in comments">
      <div data-ng-style="cmtStyle(cmt.x, cmt.y)" class="circle">
           {{cmt.x}}
           {{cmt.y}}
      </div>
      <div class="comment">
      </div>
    </div>
  </div>
</div>
