
.background {
  left: 0px;
  top: 0px;
  position: fixed;
  width: 200vw;
  height: 200vh;
}

.bckimg {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  z-index: -5;
}

.circle {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  color: purple;
  background-color: purple;
  opacity: .5;
}

.cmt {
  position: absolute;
  background-color: white;
  color: purple;
  border: 5px solid purple;
  padding: 5px;
  z-index: 7;
  height: auto;
  max-width: 300px;
  font-family: monospace;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.cmtDialog {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 3;
  border: 4px solid purple;
  background-color: white;
}

.cmtDialogBody {
  font-family: monospace;
  width: 278px;
  height: 100px;
  padding: 5px;
  border: none;
  resize: none;
  margin-left: 6px;
  margin-top: 4px;
}

.cmtDialogButton {
  font-family: monospace;
  float: right;
  color: purple;
  margin-top: 4px;
  margin-bottom: 4px;
}

.cmtDialogButton:hover {
  color: rgb(75, 0, 75) !important;
  background-color: rgb(240, 240, 240) !important;
}

.cmtDialogTitle {
  font-family: monospace;
  color: purple;
  padding: 5px;

}

.comment {

}

.hLine {
  height: 1px;
  background-color: purple;
}

.logo {
  z-index: -4;
  position: absolute;
  padding: 20px 30px;
  color: purple;
  font-family: monospace;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.paper {
  position: relative;
  z-index: 0;
  width: 850px;
  height: 1100px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #aaaaaa;
}

button:focus {
  outline: none;
}
