
.background {
  left: 0px;
  top: 0px;
  position: fixed;
  width: 200vw;
  height: 200vh;
}

.bckimg {
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  z-index: -5;
}

.paper {
  position: relative;
  z-index: 0;
  width: 850px;
  height: 1100px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #aaaaaa;
}

.comment {

}

.logo {
  z-index: -4;
  position: absolute;
  padding: 20px 30px;
  color: purple;
  font-family: monospace;
  font-size: 50px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.circle {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 12px;
  position: absolute;
  z-index: 1;
  color: purple;
}


